{% macro control(name) %}
    <div class="form-group mb-3">
        <label for="{{ name.vars.name }}">{{ form_label(name) }}</label>
        {{ form_widget(name, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback" style="display: block">
            {{ form_errors(name) }}
        </div>
        <small id="{{ name.vars.name }}-help" class="form-text text-muted">{{ form_help(name) }}</small>
    </div>
{% endmacro %}