{% extends 'base.html.twig' %}
{% import '_macros/form.html.twig' as forms %}

{% block body %}

    <div class="mt-5">
        <h1 class="text-center">Currency Calculator</h1>
        <div class="row">
            <div class="col-sm-{{ convertViewModel ? '7' : '12' }}">
                {{ form_start(form) }}
                {{ forms.control(form.amount) }}
                {{ forms.control(form.baseCurrency) }}
                {{ forms.control(form.targetCurrency) }}
                {{ forms.control(form.date) }}
                <button type="submit"
                        class="btn btn-primary btn-lg btn-block">{{ button_label|default('Convert') }}</button>
                {{ form_end(form) }}
            </div>

            {% if convertViewModel %}
                <div class="col-sm-5 p-5">
                    <div class="jumbotron">
                        <h3> {{ convertViewModel.exchangeRatesModel.amount }} {{ convertViewModel.exchangeRatesModel.baseCurrency }} = {{ convertViewModel.resultAmount }} {{ convertViewModel.exchangeRatesModel.targetCurrency }}</h3>
                        <p>According to the average NBP exchange rate of <strong>{{ convertViewModel.date|date('Y-m-d') }}</strong></p>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>

{% endblock %}
